{% extends 'catalog/base.html' %}
{% block content %}
    {% load work_tag %}
    {% load static %}


    <body>


    <main>

        <div class="album py-5 bg-light">
            <div class="container">
                <a type="button" class="btn bg-success btn-close-white"
                   href="{% url 'blog:create' %}">Add</a>
                <p></p>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for object in object_list %}
                        <div class="col">
                            <div class="card shadow-sm">

                                <img src="{{ object.preview }}" class="img-fluid"
                                     alt="Здесь должна быть картинка но я ее удалил">
                                <div class="card-body">
                                    <p class="card-text">{{ object.title|title }} </p>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <small class="text-success-emphasis"></small>
                                        <small class="text-muted">{{ object.publ_date|date}} {{object.publ_date|time}}</small>


                                    </div>
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'blog:view' object.pk %}">View</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'blog:edit' object.pk %}">Edit</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'blog:delete' object.pk %}">Delete</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>


    </body>

{% endblock %}