{% extends 'catalog/base.html' %}

{% block content %}
    {% load work_tag %}
    {% load static %}

    <div class=class="row":>
        <div class="col-12">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}

                            {% if object %}

                                <button type="submit">
                                    Save and View
                                </button>
                            {% else %}

                                <button type="submit">Create</button>
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}