{% extends 'catalog/base.html' %}

{% block content %}

    <div class=class="row":>
        <div class="col-12">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% if object %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}


                                <a type="submit" class="btn btn-sm btn-success"
                                   href="{% url 'blog:view' object.pk %}">Save and View</a>


                                <button type="submit">Save</button>
                            </form>
                        {% else %}
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                {{ form }}

                                <button type="submit">Create</button>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}