{% extends 'catalog/base2.html' %}
{% block content %}
    {% load work_tag %}
    {% load static %}
    <img src="{% media_tag blog.preview %}" class="img-fluid" alt="Изображение {{ blog.title }}">
    <h2>{{ blog.title }} ({{ blog.slug }})</h2>
    <p>{{ blog.body }}</p>
    <p>{{ blog.publ_date|date }}</p>
    <p>Просмотры {{ blog.view_count }}</p>
    <p>Автор {{ blog.owner }}</p>
    </body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
{% endblock %}